.container-3,
			.container-2,
			.container-4 {
				text-align: center;
	background: #FFFFFF;
			}
		/*@media(min-width: 768px) {*/
			.container-1 {
				text-align: center;
				background: url(../img/banner/BJ.png) no-repeat;
				background-size: 100%;
			}
			.container-center {
				display: inline-block;
				width: 57%;
			}
			.container-center>div {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
			}
			.container-1  .tag-0{
				margin-top: 100px;
			}
			 .tag-0 .title{
				/*font-size: .55rem;*/
				font-weight: 500;
			}
			  .tag-0 .desc{
				/*font-size: .45rem;*/
			}
			.item-1 .desc {
				width: 47%;
				text-align: left;
			}
			.item-1 .desc>img:first-of-type {
				margin-top: 33%;
				margin-bottom: 5%;
				max-width: 100%;
			}
			.item-1 .desc>img:last-of-type {
				max-width: 100%;
			}
			.cpdesc{
				padding-top:38px;
				height: 190px;
				text-indent: 40px;
				line-height: 36px;
				text-indent: 40px;
			}
			.container-3{
				padding-bottom: 20px;
			}
			.about-us .detail{
				display: block;
				margin-top: 91px;
				margin-bottom: 144px;
			}
			.about-us .detail img{
				width: 49%;
			}

			.item-1 .desc>div {
				text-align: left;
			}
			.item-1 .desc>div>img {

				display: block;

			}
			.item-1 .desc>div>img:first-of-type{
				margin-bottom: 15px;
				max-width: 25%;
				margin-left: 8%;
			}
			.item-1 .desc>div>img:last-of-type{
				margin-bottom: .6rem;
				max-width: 33%;
				margin-left: 4%;
			}
			.item-1 .img {
				width: 35.5%;
			}
			.item-1 .img>img {
				margin-top: 15%;
				max-width: 100%;
			}
			.item-2 {
				margin-top: 104px;
				margin-bottom: 135px;
			}
			.item-2>div {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				width: 20%;
			}
			.item-2>div>* {
				margin-bottom: 15px;
				
				word-break: break-all;
				
			}
			.item-2>div>img{
				margin-bottom: 17px;
				width: 46%;
			}
			.item-2>div>div:last-of-type{
				font-size: 15px;
				color: #999999;
			}
			
			.container-2 {
				background: #f6f5f5;
			}
			.item-3:not(:last-of-type) {
				margin-bottom: 140px;
			}
			.item-3>.desc {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				font-size: 24px;
				width: 52.9%;
				line-height: 1.6;
			}
			.item-3>.desc>.title {
				margin-bottom: 25px;
				color: #498DFF ;
			}
			.item-3>.desc>.title>div:first-of-type {
				font-size: 30px;
			}
			.item-3>.desc>.title>div:last-of-type {
				font-size: 24px;
			}
			.item-3>.desc>.content {
				color: #666666;
			}
			.item-3>.img {
				width: 33%
			}
			.item-3>.img>img {
				max-width: 100%;
			}
			.item-3>.desc>.content {
				text-align: center;
			}
			.tag-1 {
				position: relative;
				top: -40px;
			}
			.tag-1,
			.tag-0 {
				position: relative;
				top: -20px;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
			}
			.tag-1>div,
			.tag-0>div {
				margin-bottom: 10px;
			}
			.tag-1>div:last-of-type,
			.tag-0>div:last-of-type {
				color: #999;
			}
			.tag-0>img {
				margin-bottom: 10px;
				width: 40px;
			}
			.item-4 {
				margin-bottom: 150px;
				margin-top: 135px;
			}
			.item-4>div {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				    align-items: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
			}
			.item-4>div:not(:nth-of-type(2)) {
				width: 17.1%;
			}
			.item-4>div:not(:nth-of-type(2))>img {
				width: 100%;
			}
			.item-4>div:nth-of-type(2) {
				width: 14%;
			}
			.item-4>div:nth-of-type(2)>img {
				width: 85%;
			}
			.container-4 {
				height: 130px;
				background: #686868;
				color: #FFFFFF;
			}
			.container-4>div:first-of-type {
				font-size: 16px;
				margin-bottom: 20px;
				padding-top: 35px;
			}
			.container-4>div:last-of-type {
				font-size: 18px;
			}
			.container-2:nth-of-type(2) .tag-1 {
				position: relative;
				top: -40px;
			}
			.tag-3{
				-webkit-box-pack: center !important;
				    -ms-flex-pack: center !important;
				        justify-content: center !important;
				    -webkit-box-orient: vertical;
				    -webkit-box-direction: normal;
				        -ms-flex-direction: column;
				            flex-direction: column;
				    -webkit-box-align: center;
				        -ms-flex-align: center;
				            align-items: center;
			}
			.tag-3>img{
				width: 12%;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				
			}
			.use-product{
				display: block !important;
				margin-bottom: 123px;
			}
			.use-product img{
				margin-bottom: 30px;
			}
